
body {
    font-family: "Montserrat";
    text-align: center;
}


h1,h2,h3,h4,h5,h6 {
 font-family: "Montserrat";
}


   p {
    color: #8f8f8f;
   }


   /* Headings */
  
   .big-heading {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.5;
   }


   .section-heading {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight:bold;
   }

   /* Container */

.container-fluid {
    padding: 7% 15%;  
 }

/* When you only have three values, the first:top second:left & right and the last:bottom as shown above. */

/* Navigation Bar */ 

/* .navbar {
    padding-bottom: 4.5rem;
}  The padding-bottom is used to increase spacing between the h1 element and the rest of the text below it. */


/* Sections */

.colored-section {
    background-color: #6a2c70;
    color: #fff;
}


.white-section {
    background-color: #fff;
}



.navbar {
 padding: 0 0 4.5rem;
}

.navbar-brand {
 font-family: "Ubuntu";
 font-size: 2.5rem;
 font-weight: bold;
    
}

.nav-item {
 padding: 0 18px;
}

.nav-link {
 font-family: "Montserrat";
 font-weight: 400;
}

/* Download Buttons */

.download-button {
 margin: 5% 3% 5% 0;

    /* Starts top, right, bottom, left,  */
}


   /* Title Section */


 #title.container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}
/* Because the rule above; #title.container-fluid... is more specific, 
it overrides the previous rule of padding in the .container-fluid.
This is because the ID = "title" and the Class = "container-fluid"
were merged using the Advanced CSS concept of combining selectors: IDs + Classes */



/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
}

/* Features Section */

#features {
 /* z-index: 1;  The z-index here can be removed and the Features Section will still stack on 
 top of the Title Image, partially obsuring the (title-image) iphone image because 
 the Features Section is below the Title Image
 section in the HTML flow. */
 position: relative;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-box {
 padding: 4.5%;
   
   
}


.icon {
 color: #f08a5d;
 margin-bottom: 1rem;
}


.icon:hover {
 color: #b83b5e;
}

/* Testimonials */

#testimonials {
 background-color: #f08a5d; 
}
 /* There is a hierachy between the different types of CSS selectors.
IDs are the most specific and their styles get applied preferentially above anything else, 
next comes Classes and finally other HTML elements e.g H1, H2, paragraphs (p) etc. */


.testimonial-text {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
}

.testimonial-image {
 width: 10%;
 border-radius: 100%;
 margin: 20px; 
   
}

/* Press */

#press{
 background-color: #f08a5d;
 padding-bottom: 3%;
}
 /* There is a hierachy between the different types of CSS selectors.
IDs are the most specific and their styles get applied preferentially above anything else, 
next comes Classes and finally other HTML elements e.g H1, H2, paragraphs (p) etc. */


.press-logos {
width: 15%;
margin: 20px 20px 50px;

}


/* Pricing Section */

#pricing {
    padding: 100px;
}

.price-heading {
font-weight: bold;
}


.price-text {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
}

.pricing-column {
    padding: 2% 3%;
}


@media (max-width: 991px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
}


}

/* Call to Action */


/* 
Footer */

.social {
   margin: 15px 15px;
   padding-bottom: 3%;
}

.social:hover {
    color: #f08a5d;
}

#footer {
    padding-bottom: 5%;
}